<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="post" th :action="@{/event/add}" th:object="${event}">
    <div>
        <label>Название события:<input th:object="$*{eventTitle}" type="text"></label>
    </div>
    <div>
        <label>Описание события:<textarea th:object="$*{eventDescription}"></textarea>
        </label>
    </div>
    <div>
        <label>
            Дата начала : <input th:object="$*{eventStart}" type="datetime-local">
        </label>
    </div>
    <p><input type="submit" value="Добавить"></p>
</form>

</body>
</html>